body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fada82;
}

.header_text {
    font-family: 'Protest Strike';
    font-size: 50px;
    font-weight: bold;
    color: #fa3966;
    text-align: center;
    letter-spacing: 5px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}