body {
    background-color: #fada82;
}

.header_text {
    font-family: 'Protest Strike';
    font-size: 50px;
    font-weight: bold;
    color: #fa3966;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
}

.gif_container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4cm;
    width: 4cm;
    position: relative;
    top: 5cm;
}

.music{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10cm;
}